/* ------------------------------- ateigh.com ------------------------------- 
 *
 * Content styles for #{$theme-name}
 *
 * ------------------------------- ateigh.com -------------------------------
 */

.layer-menu{
    @include transition(all 0.5s $animation-type);
    top:$header-height;
    background:rgba(84,88,89,0.7);
    position:fixed;
    height:100%;
    width:100%;
    z-index:-1;
    @include opacity(0);
    &.visible{
        z-index:98;
        position:fixed;
        @include opacity(1);
    }
    @include mq('m-screen'){
        top:$header-height-mobile;
    }
}

.main-content-web{
    padding-top:$header-height;
    clear:both;    
    @include wrapper;
    .main-section{
        width:75%;
        float:left;        
        @include mq('m-screen'){
            width:100%;          
            margin:0 auto;
            float:none;
            &.content-wide{
                width:100%;
            }
        }
    }   
    @include mq-device(){
        padding-top:$header-height-mobile;
    }
}

