/* ------------------------------- ateigh.com ------------------------------- 
 *
 * Sidebars styles for #{$theme-name}
 *
 * ------------------------------- ateigh.com -------------------------------
 */


.sidebar-left,.ulpgcds-sidebar-left{
    width:25%;
    padding-right:$grid-gutter;
    float:left;
    @extend .no-list-bullets;
    clear:both;    
    ul{
        list-style:none;        
        padding-left:0;
        &.menu{
            list-style-type:none;
            li{
                font-family: $font-1;
                font-weight: $medium;
                font-size:$font-size-s;
                line-height:$line-height-m;
                color:$color-gray;
                margin:0;
                list-style:none;
                width:100%; 
                list-style-image: none;
                a{
                    padding:$spacing-s $spacing-m $spacing-s $spacing-m;  
                    background:$color-gray-5;
                    line-height:$line-height-m;
                    font-weight:$medium;
                    font-family:$font-1;
                    font-size:$font-size-m;
                    color:$color-gray; 
                    display:block;
                }
                span{
                    &.nolink{
                        color:$color-gray;
                        border-bottom:2px solid $color-orange;  
                        margin-bottom:0;
                        margin:0;
                        display:block;
                        line-height:$line-height-m;
                        padding-bottom:$spacing-xs;
                        font-size:$font-size-m;
                    }
                } 
                &.active{
                    a{
                        border-left:2px solid $color-orange;
                        color:$color-blue;
                    }
                }
                ul{
                    li{                            
                        line-height:$line-height-m;                        
                        background:$color-gray-5;
                        margin:0;
                        padding:0;
                        a{
                            background:$color-gray-5;
                            margin:0;
                            padding:$spacing-s $spacing-m $spacing-s $spacing-m;    
                            width:100%;
                            display:block;
                            text-decoration:none;
                            font-size:$font-size-s;                            
                            &:hover{
                                background:$color-orange-10;
                                color:$color-blue;
                            }                                
                        }
                        &.active{
                            a{
                                border-left:2px solid $color-orange;
                                color:$color-blue;
                            }
                        }
                    }
                }
            }
        }        
    }
    h2{
        font-size:$font-size-m;
    }
    @include mq('m-screen'){        
        left:0;
        width: 100%;        
        padding: 0;
        margin: 0;
        float: none;        
        z-index:99;       
        &__block{
            display:none;
            border-radius: $radius;
            box-shadow: -1px 2px 8px rgba(77, 80, 82, 0.32);
            overflow:scroll;
            background:$color-gray-5; 
            margin:0;
            z-index:9;
            position:absolute;
            left:$grid-gutter-sm/2;
            right:$grid-gutter-sm/2;
            margin:0 auto;
            padding-top:$spacing-m;  
            margin-top: -$grid-gutter-sm/2;
            ul{
                &.menu{
                    > li{ 
                        font-weight:$bold;
                        font-family: $font-1;
                        border:0 ;                                                
                        padding-left:$grid-gutter-sm/2 ;
                        padding-right:$grid-gutter-sm/2 ;
                        &.first{
                            li{
                                a,span.nolink{
                                    border-bottom:0;
                                    font-size:$font-size-s;
                                    padding: $spacing-xxs $spacing-xxs $spacing-xxs $spacing-xxs ; 
                                    background:none;
                                }

                            }
                        }
                        span{
                            &.nolink{
                                border:none ;
                                padding-bottom:$spacing-xxs;
                                font-weight:$bold;
                            } 
                        }
                        a, &.first a{
                            border:0 ;
                            font-weight:$bold; 
                            font-family: $font-1;                            
                            &:hover{
                                background:none;                                
                            }
                        }
                        ul{
                            margin:0 ;
                            padding: $spacing-xs $spacing-xs $spacing-xs $spacing-s ;
                            li{
                                padding: 0 ; 
                                background:none;
                                margin:$layout-xxs $layout-xxs $layout-xxs 0;
                                a, &.first a{
                                    padding: $spacing-xxs $spacing-xxs $spacing-xxs $spacing-xxs ; 
                                    background:none; 
                                    font-weight:$regular !important;
                                }
                                a.active, a:focus{
                                    border:0;
                                    color:$color-orange;
                                    font-weight:$medium !important;                                    
                                }
                            }
                        }
                        &:hover{
                            background:none;
                            font-weight:$medium;
                        }
                        &:not(.first){                
                            margin-top:$layout-xs;                                    
                        }
                    }
                }
            }
        }
    }
}