/* ------------------------------- ateigh.com ------------------------------- 
 *
 * Accordions styles for #{$theme-name}
 *
 * ------------------------------- ateigh.com -------------------------------
 */

.ulpgcds-accordion {
    margin: $layout-xxs 0 0 0;
    padding: 0;
    button{
        background:none;
        border:0;
        color:$color-blue;
        cursor:pointer;
        padding-left:$spacing-s;        
        padding-right:$spacing-xl;        
        display: inline-block;
        width: 100%;
        text-align: left;
        line-height:$line-height-l;
        font-size:$font-size-l;        
        color:$color-gray;    
        transition: all $animation-time $animation-type;    
        &[aria-expanded="true"]{        
            .ulpgcds-accordion__icon{        
                @extend .ulpgcds-icon;
                @extend .ulpgcds-icon-less;
                margin-right:0;
                padding-right:$spacing-s;
            }
        }
        &[aria-expanded="false"]{
            .ulpgcds-accordion__icon{ 
                @extend .ulpgcds-icon;                
                @extend .ulpgcds-icon-more;
                margin-right:0;
                padding-right:$spacing-s;
            } 
        }
        .ulpgcds-accordion__icon{
            margin-right:$layout-xxs;
        }     
        &:hover{
            color:$color-orange;
            + div{                
                border-color:$color-orange;         
            }
        }
        &:active{
            color:$color-orange-dark;   
            + div{                
                border-color:$color-orange-dark;         
            }
        }

    }
    > h3, > h2{
        margin-top:0;
        transition: all $animation-time $animation-type;    
    }
    > h2:after{
        content: none;
    }
    > h3, > h2 , .ulpgcds-accordion__dropdown {
        font-weight:$medium;
        color:$color-blue;
        font-size:$font-size-m;    
        line-height:$line-height-m;
        padding-bottom:$spacing-m;
        padding-top:$spacing-m;
        transition: all $animation-time $animation-type;    
        + h3{
            margin-top:$layout-l;
        }
        &:hover + .ulpgcds-accordion__panel{
            transition: all $animation-time $animation-type;    
            border-color:$color-orange;
        }
        &:hover
            + div{
                border-color:$color-orange;               
        }
        &:active{              
            + div{                
                border-color:$color-orange-dark;         
            }
        }
    }
    
    &.focus {
        border:0;
        outline:none;
        h3{
            
        }
    }
  button {
    
    ::-moz-focus-inner{
         border: 0;
    }
  }
  &__title {
    display: block;
    pointer-events: none;    
    outline: none;
  }
  &__icon {
   
    &:active{
        @extend .ulpgcds-icon-less;
    }
  }
  &__panel{
    margin: 0;
    padding: 0;    
    border-bottom:2px solid $color-blue-50;    
    transition: all $animation-time $animation-type;    
  }
  .border-hover{          
    .ulpgcds-accordion__panel{        
        border-color:$color-orange;    
        &:active, &:focus{
             border-color:$color-orange-dark;    
        }
    }
    &:active{
        .ulpgcds-accordion__panel{
            border-color:$color-orange-dark;    
        }
    }
  }
  .border-click{          
    .ulpgcds-accordion__panel{
        border-color:$color-orange-dark;        
    } 
  }
  &__content{
      padding: 0 $spacing-xl $spacing-l $spacing-xxxl;      
      visibility:visible;
      @include opacity(1);      
      @include transition(all 1s $animation-type);
      &[aria-hidden="true"] { 
        display: none;
        visibility:hidden;
        @include opacity(0);
        @include transition(all 1s $animation-type);   
      }
      p{
          &:first-child{
              margin-top:0;
          }
      }
  }
   &--destroy{
        button{
            background:none;
            padding-left:0;
            .ulpgcds-accordion__icon{
                display:none;
            }
        }
        .ulpgcds-accordion__panel{
            border:0;
            padding:0;
            
        }
        .ulpgcds-accordion__content{
            padding:0;
            display:block;
        }
    }
    
    
    @include mq('m-screen'){
        > h3{
            padding-top:$spacing-s;
            padding-bottom:$spacing-s;
        }
        button{
            font-size: $font-size-m;
            line-height: $line-height-m;
            padding-left:$spacing-xs;
            &[aria-expanded="true"]{        
                .ulpgcds-accordion__icon{                            
                    margin-right:$layout-xxs;
                    padding-right:0;
                }
            }
            &[aria-expanded="false"]{
                .ulpgcds-accordion__icon{                     
                    margin-right:$layout-xxs;
                    padding-right:0;
                } 
            }
        }
        .ulpgcds-accordion__content{            
            padding-left:$spacing-xl;
        } 
    }
}

